{
  "log": {
    "_recordingName": "fetchPhishingCampaignCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "e4ffb4dbcbab4a6a8fc3dbb8e27d9c01",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://eu.api.knowbe4.com/v1/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 301,
            "text": "{\"name\":\"JupiterOne, Inc\",\"type\":\"trial\",\"domains\":[\"jupiterone.com\"],\"admins\":[{\"id\":33626551,\"first_name\":\"Sam\",\"last_name\":\"Andrus\",\"email\":\"sam.andrus@jupiterone.com\"},{\"id\":33626582,\"first_name\":\"Austin\",\"last_name\":\"Kelleher\",\"email\":\"austin.kelleher@jupiterone.com\"}],\"current_risk_score\":25.6}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"9e773e3e14265c9fa454904b0ae0565a\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1212,
      },
      {
        "_id": "a534c66657a05e2ccf3c3f5c6d57ac2c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "500"
            }
          ],
          "url": "https://eu.api.knowbe4.com/v1/phishing/campaigns?page=1&per_page=500"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 969,
            "text": "[{\"campaign_id\":229584,\"name\":\"phishing test campaign\",\"groups\":[{\"group_id\":0,\"name\":\"All Users\"}],\"last_phish_prone_percentage\":0.0,\"last_run\":\"2021-10-19T19:16:09.000Z\",\"status\":\"Closed\",\"hidden\":false,\"send_duration\":\"3 Business Days\",\"track_duration\":\"3 Days\",\"frequency\":\"One Time\",\"difficulty_filter\":[1,2,3,4,5],\"create_date\":\"2021-10-18T19:27:57.000Z\",\"psts_count\":1,\"psts\":[{\"pst_id\":509579,\"status\":\"Closed\",\"start_date\":\"2021-10-19T19:16:09.000Z\",\"users_count\":2,\"phish_prone_percentage\":0.0}]},{\"campaign_id\":229823,\"name\":\"test-inactive-campaign\",\"groups\":[{\"group_id\":640840,\"name\":\"test_group\"}],\"last_phish_prone_percentage\":0.0,\"last_run\":null,\"status\":\"Error\",\"hidden\":false,\"send_duration\":\"1 Business Day\",\"track_duration\":\"3 Days\",\"frequency\":\"One Time\",\"difficulty_filter\":[4,2],\"create_date\":\"2021-10-19T13:22:17.000Z\",\"psts_count\":1,\"psts\":[{\"pst_id\":510501,\"status\":\"Error\",\"start_date\":null,\"users_count\":null,\"phish[...]
