{
  "log": {
    "_recordingName": "fetchPhishingSecurityTestCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "e4ffb4dbcbab4a6a8fc3dbb8e27d9c01",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://eu.api.knowbe4.com/v1/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 301,
            "text": "{\"name\":\"JupiterOne, Inc\",\"type\":\"trial\",\"domains\":[\"jupiterone.com\"],\"admins\":[{\"id\":33626551,\"first_name\":\"Sam\",\"last_name\":\"Andrus\",\"email\":\"sam.andrus@jupiterone.com\"},{\"id\":33626582,\"first_name\":\"Austin\",\"last_name\":\"Kelleher\",\"email\":\"austin.kelleher@jupiterone.com\"}],\"current_risk_score\":25.3}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"cc33e16a89ff9dfba7d4db4ae96f78af\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1427,
      },
      {
        "_id": "bfe2841eba478f44ede0a6a0f6b33c7a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "n[...]
